  body{
    height: 100vh;
    background: linear-gradient(to bottom, #ca9f4c, #8e3b66);
  }
  .divxd {
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  th{
    background: whitesmoke;
    border-radius: 10px;
  }
  .input-with-icon {
    position: relative;
  }

  .input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .text-input {
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    
  }
  img{
    height: 40px;
    justify-content: center;
  }
  button{
    border: 0;
    background: transparent;
  }
  button:hover{
    background-color: #3fe495;
    border-radius: 10px;
  }
  thead{
    background-color: aliceblue;
  }