table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: black;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  input[type="text"] {
    border: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    box-shadow: none;
    outline: none;
    width: auto;
    /* otras propiedades personalizadas */
    }
  